# Plugin configuration file for Image/J 1.31s or newer
# 
# MP package developped by Dr Matthieu Palayret (matthieu.palayret@m4x.org) for Dr Nora Ruef's
# use in Prof Jens Stein's lab, Université de Fribourg, Switzerland.
# 
# Plugins>MP, "Protrusion Analysis"
Plugins>MP, "Analyse cell contours only...", MP.Analyse_Contour
Plugins>MP, "Analyse cell contours and protrusions...", MP.Analyse_Protrusion
Plugins>MP, "Analyse 2-colour cell protrusions...", MP.Two_Colour_Analysis
Plugins>MP, "Plot 2-colour cell protrusion results...", MP.Open_MP
Plugins>MP, "Combine protrusion results...", MP.Combine_Protrusion_Results
Plugins>MP, "Plot cell trajectories...", MP.Plot_Trajectories
Plugins>MP, "-"
# Plugins>MP, "Single-particle tracking"
Plugins>MP, "Detect and analyse moving particles in a .tif movie...", MP.Get_Trajectories
Plugins>MP, "Analyse trajectories from an MP-fitted dataset [deprec.]...", MP.Complete_Trajectories
Plugins>MP, "Analyse trajectories from an Imaris-fitted dataset...", MP.Analyse_Trajectories
Plugins>MP, "Plot trajectories over the initial .tif movie...", MP.Plot_Trajectories
Plugins>MP, "-"
Plugins>MP, "Align several cell trajectories from Imaris datasets...", MP.Align_Trajectories
Plugins>MP, "-"
# Plugins>MP, "Tools"
Plugins>MP, "Combine Imaris .xls results...", MP.Combine_Excel_Results
Plugins>MP, "Separately combine .xls and/or .csv results...", MP.Combine_Results